<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <!-- <div id="navBar"> -->
        <a href="#home" class="nav-item">Home</a>
        <a href="#projects" class="nav-item">Projects</a>
        <a href="#about" class="nav-item">About</a>
        <a href="#contact" class="nav-item">Contact</a>
        <!-- </div> -->
    </header>
    <main class="bodyDiv">
        <!-- Main project information -->
        <article>
            <h1 class="center">{{ title }}</h1>
            <p class="big-text">{{ caption }}</p>
            {% if video %}
            <div class="video-container">
                <iframe src="{{ video }}" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            {% endif %}
            <!-- <p class="big-text">Tech stack/Technologies used: {{techStack}}</p> -->
            {{content}}
        </article>
    </main>
    <footer>
        <p id="content" class="center-text">Want to get in touch? Message me at <a rel="noreferrer noopener"
                href="mailto:dylan.hk.lang@gmail.com" class="links">dylan.hk.lang@gmail.com</a>!</p>
        <p id="content" class="center-text">&copy; 2021 - 2025 Dylan Lang</p>
    </footer>
</body>

</html>