:root {
    --primary-color: 54, 69, 79;
    --secondary-color: #0f3c4c;
}

header {
    background-color: rgb(var(--primary-color));
    overflow: hidden;
    display: flex; 
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    border-bottom-width: 0.01cm;
    border-bottom-style: solid;
    /* border-bottom-color: black; */
}

footer {
    background-color: rgb(var(--primary-color));
    /* text-align: center; */
    padding: 10px 0;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    /* left: 0; */
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: black;
    unicode-bidi: isolate;
    margin-top: 2em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card-link {
    text-decoration: none;
    display: block;
    color: #E0E0E0;
}

.card {
    border-width: 0.01cm;
    border-style: solid;
    border-color: rgb(var(--primary-color));
    /* user-select:s none; */
    /* display: block; */
    /* text-decoration: none; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
}

h1, p, li {
    color: #E0E0E0;
}

li {
    margin-bottom: 1em;
}

body {
    background-color: var(--secondary-color );
}

.links {
    color: white;
    text-decoration-color: teal;
}

.links:hover {
    color: teal;
}

.nav-item {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0.25em;
    font-family: sans-serif;
}

.nav-item:hover {
    background-color: #ddd;
    color: black;
    transition: 500ms;
}

.bodyDiv {
    padding: 50px;
    font-family: Arial, sans-serif;
}

.big-text {
    font-size: 1.4em;
}

.center {
    display: flex; 
    justify-content: center;
}

.center-text {
    text-align: center;
}